## Validation Variable coding

**Note:** Validation of single variables based on isolated source files prior to merge

| Variable | Content | Coding scheme | Status | Necessary Actions |
| :--- | :---: | ---: | --- | --- |
| v_2 | Sectors | `new tags` | OK | None|
| v_3 | Project Participants | `new tags` | OK | None|
| v_5 | System Class | `Code Back` | OK | None|
| v_18 | Respondent Role | `Code Back` | OK | None|

### Quick Coding Check

In [2]:
import pandas as pd
import re, os

In [3]:
df = pd.read_csv('../../data/freetext_coded/v_18_respondent_role_40_coded.csv', sep=';')
df.head(2)

   lfdn           v_18          tag
0  1483                 NotAnswered
1   170  Administrator   NotCodable

In [4]:
df.shape

(40, 3)

In [5]:
df.drop_duplicates('tag')

    lfdn                             v_18                             tag
0   1483                                                      NotAnswered
1    170                    Administrator                      NotCodable
4    753                          Analyst           Requirements Engineer
7    900                 Business Analyst                Business Analyst
17   518               Frontend Developer                       Developer
18   912  Hybrid  Analyst/Project manager  Project Lead / Project Manager
21   896                              PMO                   Product Owner
35  1895                          Sponsor                        Customer
38   167                Systems Architect                       Architect